cache:
  - C:\Users\appveyor\AppData\Local\pip\Cache\wheels

environment:

  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C .\\.appveyor\\run_with_compiler.cmd"

  matrix:

    # Pre-installed Python versions, which Appveyor may upgrade to
    # a later point release.
    # See: http://www.appveyor.com/docs/installed-software#python

    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7.x" # currently 2.7.9
      PYTHON_ARCH: "32"
      TOXENV: "py27"
      TOXPYTHON: "C:\\Python27\\python.exe"

    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.x" # currently 2.7.9
      PYTHON_ARCH: "64"
      WINDOWS_SDK_VERSION: "v7.0"
      TOXENV: "py27"
      TOXPYTHON: "C:\\Python27-x64\\python.exe"

    - PYTHON: "C:\\Python33"
      PYTHON_VERSION: "3.3.x" # currently 3.3.5
      PYTHON_ARCH: "32"
      TOXENV: "py33"
      TOXPYTHON: "C:\\Python33\\python.exe"

    - PYTHON: "C:\\Python33-x64"
      PYTHON_VERSION: "3.3.x" # currently 3.3.5
      PYTHON_ARCH: "64"
      WINDOWS_SDK_VERSION: "v7.1"
      TOXENV: "py33"
      TOXPYTHON: "C:\\Python33-x64\\python.exe"

    - PYTHON: "C:\\Python34"
      PYTHON_VERSION: "3.4.x" # currently 3.4.3
      PYTHON_ARCH: "32"
      TOXENV: "py34"
      TOXPYTHON: "C:\\Python34\\python.exe"

    - PYTHON: "C:\\Python34-x64"
      PYTHON_VERSION: "3.4.x" # currently 3.4.3
      PYTHON_ARCH: "64"
      WINDOWS_SDK_VERSION: "v7.1"
      TOXENV: "py34"
      TOXPYTHON: "C:\\Python34-x64\\python.exe"

    - PYTHON: "C:\\Python35"
      PYTHON_VERSION: "3.5.x" # currently 3.5.0
      PYTHON_ARCH: "32"
      TOXENV: "py35"
      TOXPYTHON: "C:\\Python35\\python.exe"

    - PYTHON: "C:\\Python35-x64"
      PYTHON_VERSION: "3.5.x" # currently 3.5.0
      PYTHON_ARCH: "64"
      WINDOWS_SDK_VERSION: "v7.1"  # This may be wrong
      TOXENV: "py35"
      TOXPYTHON: "C:\\Python35-x64\\python.exe"


init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"

install:
  - ps: ls -R C:/Users/appveyor/AppData/Local/pip/Cache/wheels
  - "powershell .appveyor\\install.ps1"

build: off

test_script:
  - "%WITH_COMPILER% %PYTHON%/Scripts/tox.exe -v"
  - ps: ls -R C:/Users/appveyor/AppData/Local/pip/Cache/wheels
  - "type C:\\projects\\astrodynamics\\.tox\\%TOXENV%\\log\\%TOXENV%-2.log"
